{% load static %}
<html>
<link rel="stylesheet" href="{% static 'app/css/app.css' %}">
<h1>¡Bienvenido!</h1>

<h2>Nuestros productos:</h2>
<table>
  <tr>
     <th>Producto</th>
     <th>Cantidad a pedir</th>
   </tr>
   <tr>

{% for key, value in productos.items %}

   <td>

       {{ value }}
   </td>

   <td>
      <form action="/prueba" method="GET">
       <input type="number" name={{key}} placeholder=0 min=0/> <input type="submit" value= "Agregar al carro"/>
     </form>
   </td>


 </tr>
{%endfor%}
</table>
<p></p>

</html>
